.box {
  display: flex;

}

.box div {
  width: 100px;
  height: 50px;
}

.button-name {
  align-items: center;
  appearance: none;
  background-color: #343A40;
  border-radius: 4px;
  border-width: 0;
  box-sizing: border-box;
  color: #ececf4;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  width: 150px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
 }

 .button-name:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
 }

 .button-name:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
 }

 .button-name:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
 }


 .aligned_form {
  display: inline-block;
  flex-flow: column wrap;
  align-content: flex-start;
  height: 40px;
   width: 80%;
  margin: 0 auto;
  padding-left: 10px;
}


label, input {
  display: inline-block;
}

label {
  width: 35%;
  text-align: left;
}

label + input {
  width: 30%;
  margin: 0 30% 0 4%;
}


input + input {
  float: right;
}



.dropdown-search-btn{
  margin-top: 10px;
  display: flex;
}


.card-container{
  margin-top: 40px;
  margin-left: 10px;
}




.accordion {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  /* margin: 12px; */
  padding-bottom: 10px;
  margin-top: 10px;
}

.title {
padding: 12px;
}

.content {
padding: 12px;
}

.content-container {
overflow: hidden;
max-height: 0;
}

.content-container.opened {
max-height: none;
}


.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
