<div>

  <div class="box" style="margin: 5px;">
    <div style="float: left; width: 50%;">
        <button style="margin:3px" role="button" class="button-name"
        [disabled]="newDataButton"
        (click)="addSupectAccountDetails()">New Data</button>
    </div>
    <div style="float: right; width: 50%;">
        <button style="margin:3px" role="button" class="button-name"
        [disabled]="updateDataButton"
        (click)="updateSupectAccountSearchValue()">Modify</button>
        <button style="margin:3px" role="button" class="button-name"
        [disabled]="bulkDataButton"
        (click)="bulkUploadOfSuspectAccountData()">Bulk Upload</button>
        <!-- <button style="margin:3px" role="button" class="button-name">Search</button> -->
    </div>
  </div>

  <div style="margin-top: 20px;">
    <form [formGroup]="suspectAcctDetailsForm"  accept-charset="utf-8" enctype="multipart/form-data">

        <div class='aligned_form form-group'>

          <label for="uploadFile">Upload </label>
          <!-- <input class="form-control" formControlName="uploadFile" type="file" name="uploadFile"> -->
          <input class="form-control" formControlName="uploadFile" type="file" name="uploadFile"
            (change)="onChangeFileBulkUpload($event)">

          <div class="dropdown-search-btn">
            <!-- <select formControlName="selectValue" class="form-control" style="margin-right: 5px;">
              <option>Dropdown List</option>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>

            </select> -->
            <!-- <div *ngIf="f.website.touched && f.website.invalid" class="alert alert-danger">
                <div *ngIf="f.website.errors.required">Name is required.</div>
            </div> -->
            <input class="form-control" formControlName="searchValue"
              placeholder="Enter Search Field" style="margin-right: 5px; width: 39%; margin-top: 10px;">
            <button style="margin:3px" role="button" class="button-name" style="margin-right: 5px; margin-top: 9px;"
            (click)="seachValueToSuspectAccountDataForm();">
            Search</button>

          </div>

          <div style="margin-top: 10px;">

            <label for="suspectName">Name</label>
            <input class="form-control" formControlName="suspectName"  placeholder="Enter Name">

            <label for="suspectAcctNo">Account No</label>
            <input class="form-control" formControlName="suspectAcctNo"  placeholder="Enter Account No">

            <label for="suspectPhNo">Phone No</label>
            <input class="form-control" formControlName="suspectPhNo"  placeholder="Enter Phone No">

            <label for="suspectUpIds">UP IDs</label>
            <input class="form-control" formControlName="suspectUpIds"  placeholder="Enter UP IDs">

            <label for="suspectUrls">URLs</label>
            <input class="form-control" formControlName="suspectUrls"  placeholder="Enter URLs">

            <label for="suspectRemarks">Remarks</label>
            <textarea class="form-control" name="suspectRemarks" formControlName="suspectRemarks" rows="4" cols="50">

            </textarea>

          </div>

          <div>
            <button style="margin-top: 20px;
            float: left;" role="button" class="button-name"
            (click)="submitSuspectAccountInformation();">
            Submit</button>
          </div>

        </div>

    </form>
  </div>


</div>
