
<div id="app">

   <!-- Header Bar -->
   <nav class="navbar navbar-expand navbar-dark bg-dark header-align">
     <a href="#" class="navbar-brand">Official Website</a>

     <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
       <li class="nav-item">
         <a class="nav-link">Back</a>
       </li>
       <li class="nav-item">
         <a class="nav-link">Logout</a>
       </li>
     </ul>

   </nav>

   <div style="width: 100%;
   float: left;">
      <!-- Navigation / Left Bar -->
      <app-nav-bar *ngIf="showNavbar"></app-nav-bar>


      <!-- Components -->
      <div class="modules-body" >
        <router-outlet></router-outlet>
      </div>

   </div>



</div>
