
<div id="app">

  <app-nav-bar *ngIf="showNavbar"></app-nav-bar>

  <nav class="navbar navbar-expand navbar-dark bg-dark"
  style="position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 15%;">
    <a href="#" class="navbar-brand">Official Website</a>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a class="nav-link">Back</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Logout</a>
      </li>
    </ul>

  </nav>


  <div class="container">
    <router-outlet></router-outlet>
  </div>


</div>
