<div >
    


    <div class="box" style="margin: 5px;">
        <div style="float: left; width: 50%;">
            <button style="margin:3px" role="button" class="button-name">New Data</button>            
        </div>
        <div style="float: right; width: 50%;">           
            <button style="margin:3px" role="button" class="button-name">Modify</button>
            <button style="margin:3px" role="button" class="button-name">Bulk Upload</button>
            <button style="margin:3px" role="button" class="button-name">Search</button>
        </div>
    </div>

    <div>

        <form [formGroup]="cdrDataForm"  accept-charset="utf-8" enctype="multipart/form-data">

            <div class='aligned_form'>

                <label>Full Name </label>
                <input formControlName="fullName"  placeholder="Enter fullName">

                <label>Son / Daughter / Wife Of </label>
                <input formControlName="sonDaughterWifeOf"  placeholder="Enter Name"> 

                <label>Date OF Birth </label>
                <input formControlName="dateOfBirth"  placeholder="Enter DOB"> 

                <label>Full Address </label>
                <input formControlName="fullAddress"  placeholder="Enter Address"> 

                <label>Aadhar No.</label>
                <input formControlName="aadharNo"  placeholder="Enter Aadhar No"> 

                <label>Mobile No.</label>
                <input formControlName="mobileNo"  placeholder="Enter Mobile No"> 

                <label>Email ID (Official)</label>
                <input formControlName="emaiIdOfficial"  placeholder="Enter Email ID"> 

                <label>Email ID (Personal)</label>
                <input formControlName="emaiIdPersonal"   placeholder="Enter Email ID">

                <label>Profession (Job)</label>
                <input formControlName="professionJob"  placeholder="Enter Job Designation"> 

                <label>Previous Job Details</label>
                <input formControlName="prevJobDetails"  placeholder="Enter Previous Job Info"> 

                <label>Monthly Income</label>
                <input formControlName="monthlyIncome"  placeholder="Enter Monthly Salary"> 

                <label>Vehicle Details</label>
                <input formControlName="vehicleDetails"  placeholder="Enter Vehicle Details"> 

                <label>Bank Account Details</label>
                <input formControlName="bankAccountDetails"  placeholder="Enter Bank Acc Details"> 

                <label>PAN No.</label>
                <input formControlName="drivingLicenseNo"  placeholder="Enter PAN No"> 

                <label>Driving License No.</label>
                <input formControlName="drivingLicenseNo"  placeholder="Enter Driving License No"> 

                <label>Passport Details</label>
                <input formControlName="passPortDetails"  placeholder="Enter Passport Details"> 

                <label>Dearest Friend Details</label>
                <input formControlName="friendDetails"  placeholder="Enter Friend Details"> 
                
                <label>Facebook ID/Pages/Groups</label>
                <input formControlName="facebookDetails"  placeholder="Enter Facebook Details"> 

                <label>Twitter Handle</label>
                <input formControlName="twittedId"  placeholder="Enter Twitter Details"> 

                <label>Instagram ID</label>
                <input formControlName="instagramId"  placeholder="Enter Instagram Details"> 

                <label>YouTube Channels Url</label>
                <input formControlName="youTubeDetails"  placeholder="Enter YouTube Details"> 

                <label>WhatsApp No And Groups</label>
                <input formControlName="whatsAppDetails"  placeholder="Enter WhatsApps Details"> 

                <label>Telegram ID</label>
                <input formControlName="telegramNo"  placeholder="Enter Telegram Details"> 

                <label>IMO No</label>
                <input formControlName="imoNo"  placeholder="Enter IMO Details"> 

                <label>TikTok ID</label>
                <input formControlName="tiktokId"  placeholder="Enter Tiktok Details"> 

                <label>Helo ID</label>
                <input formControlName="heloId"  placeholder="Enter Helo Details"> 

                <label>Previous Cases (If any)</label>
                <input formControlName="previousCases"  placeholder="Enter Previous Case Details"> 

                <label>LinkedIn ID</label>
                <input formControlName="linkedInId" type="file" name="upload"> 

                
              
              </div>
                       
        </form> 

        

    </div>


</div>
